<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Karl - Fashion Ecommerce Template | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    
	<script language="javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>

</head>

<body>
    <div class="catagories-side-menu">
        <!-- Close Icon -->
        <div id="sideMenuClose">
            <i class="ti-close"></i>
        </div>
       
           
                <h6>Categories</h6>
                <ul id="menu-content" class="menu-content collapse out">
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#women" class="collapsed active">
                        <a href="#">Woman wear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="women">
                            <li><a href="#">Midi Dresses</a></li>
                            <li><a href="#">Maxi Dresses</a></li>
                            <li><a href="#">Prom Dresses</a></li>
                            <li><a href="#">Little Black Dresses</a></li>
                            <li><a href="#">Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#man" class="collapsed">
                        <a href="#">Man Wear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="man">
                            <li><a href="#">Man Dresses</a></li>
                            <li><a href="#">Man Black Dresses</a></li>
                            <li><a href="#">Man Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#kids" class="collapsed">
                        <a href="#">Children <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="kids">
                            <li><a href="#">Children Dresses</a></li>
                            <li><a href="#">Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#bags" class="collapsed">
                        <a href="#">Bags &amp; Purses <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="bags">
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Purses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#eyewear" class="collapsed">
                        <a href="#">Eyewear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="eyewear">
                            <li><a href="#">Eyewear Style 1</a></li>
                            <li><a href="#">Eyewear Style 2</a></li>
                            <li><a href="#">Eyewear Style 3</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#footwear" class="collapsed">
                        <a href="#">Footwear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="footwear">
                            <li><a href="#">Footwear 1</a></li>
                            <li><a href="#">Footwear 2</a></li>
                            <li><a href="#">Footwear 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="wrapper">

        <!-- ****** Header Area Start ****** -->
        <header class="header_area">
            <!-- Top Header Area Start -->
             <div class="top_header_area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-end">

                        <div class="col-12 col-lg-7">
                            <div class="top_single_area d-flex align-items-center">
                                <!-- Logo Area -->
                                <div class="top_logo">
                                    <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                                </div>
                                <!-- Cart & Menu Area -->
                               </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Top Header Area End -->
            <div class="main_header_area">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 d-md-flex justify-content-between">
                            <!-- Header Social Area -->
                            
                            <!-- Menu Area -->
                            <div class="main-menu-area">
                                <nav class="navbar navbar-expand-lg align-items-start">

                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">
                                         
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                                <div class="dropdown-menu" aria-labelledby="karlDropdown">
                                                   
                                                    <a class="dropdown-item" href="/cart">Cart</a>
                                                  
                                                </div>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Help Line -->
                            <div class="help-line">
                                <a href="tel:+346573556778"><i class="ti-headphone-alt"></i> +84 978 190 602</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ****** Header Area End ****** -->

      <div class="container">
		<h3 class="text-dark">Admin Product</h3>
		<div>
			<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal1" style="margin-bottom: 20px">
				Add Product
			</button>
			<!-- The Modal -->
			<div class="modal" id="myModal1">
				<div class="modal-dialog">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Add Product</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<input type="hidden" name="_token" value="">
							<div class="form-group">
								<label class="control-label">Name</label>
								<div>
										<input type="text" class="form-control input-lg" name="add">
								</div>
								<label class="control-label">Desciption</label>
								<div>
									<input type="text" class="form-control input-lg" name="add">
								</div>
								<label class="control-label">Price</label>
								<div>
										<input type="text" class="form-control input-lg" name="add">
								</div>
								<label class="control-label">Orinal Price</label>
								<div>
										<input type="text" class="form-control input-lg" name="add">
								</div>
								<label class="control-label">Details</label>
								<div>
										<input type="text" class="form-control input-lg" name="add">
								</div>
								<label class="control-label">Stock</label>
								<div>
										<input type="text" class="form-control input-lg" name="add">
								</div>
								<label class="control-label">View Count</label>
								<div>
										<input type="text" class="form-control input-lg" name="add">
								</div>
								<label class="control-label">Date Created</label>
								<div>
									<input type="date" class="form-control input-lg" name="add">
								</div>
							</div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" id="create" class="btn btn-danger" data-dismiss="modal">Save</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>

			<div class="modal" id="myModal2">
				<div class="modal-dialog">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Add Product</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<input type="hidden" name="_token" id="id">
							<div class="form-group">
								<label class="control-label">Name</label>
								<div>
										<input type="text" class="form-control input-lg" name="edit">
								</div>
								<label class="control-label">Desciption</label>
								<div>
									<input type="text" class="form-control input-lg" name="edit">
								</div>
								<label class="control-label">Price</label>
								<div>
										<input type="text" class="form-control input-lg" name="edit">
								</div>
								<label class="control-label">Orinal Price</label>
								<div>
										<input type="text" class="form-control input-lg" name="edit">
								</div>
								<label class="control-label">Details</label>
								<div>
										<input type="text" class="form-control input-lg" name="edit">
								</div>
								<label class="control-label">Stock</label>
								<div>
										<input type="text" class="form-control input-lg" name="edit">
								</div>
								<label class="control-label">View Count</label>
								<div>
										<input type="text" class="form-control input-lg" name="edit">
								</div>
								<label class="control-label">Date Created</label>
								<div>
									<input type="date" class="form-control input-lg" name="edit">
								</div>
							</div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" id = "submit" class="btn btn-danger" data-dismiss="modal">Save</button>
							<button type="button" class="btn btn-danger"  data-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>

			<div class="modal" id="myModal3">
				<div class="modal-dialog">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Add Product To Cart</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<input type="hidden" name="_token" id="idP">
							<div class="form-group">
								
								<label class="control-label">Quantity</label>
								<div>
									<input type="number" class="form-control input-lg" name="Quantity">
								</div>
							</div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" id = "addToCart" class="btn btn-danger" data-dismiss="modal">Save</button>
							<button type="button" class="btn btn-danger"  data-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>
			<div class="modal" id="myModal4">
				<div class="modal-dialog">
					<div class="modal-content" id="idDel">
						<div class="modal-header">
							<h4 class="modal-title">Xác nhận xoá</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
					
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" id = "idD" class="btn btn-danger" data-dismiss="modal">Xác nhận</button>
							<button type="button" class="btn btn-danger"  data-dismiss="modal">Huỷ bỏ</button>
						</div>

					</div>
				</div>
			</div>
			<div>
				
				<table id="ShowProduct" class="table table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							

							<th>Name</th>
							<th>Desciption</th>
							<th>Price</th>
							<th>Orinal Price</th>
							<th>Details</th>					
							<th>Stock</th>
							<th>View Count</th>
							<th>Date Created</th>
							<th style="width : 160px">Action</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>

		</div>
	</div>

       

       

       

    

     

       

       
    </div>
    <!-- /.wrapper end -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
     <script>
		$(document).ready(function () {
			$.ajax({
			 url:"http://localhost:8080/api/product/getAll",
			 method:"GET",
			 headers: {"Accept": "application/json; odata=verbose"},
			success: function(data){
				for(let i=0;i<data.length; i++){
					$("#ShowProduct > tbody").append(
				'<tr>'+
						'	<td>'+ data[i].name+'</td>'+
						'	<td>'+ data[i].description+'</td>'+
						'	<td>'+data[i].price +'</td>'+
						'	<td>'+ data[i].originalPrice+'</td>'+
						'	<td>'+ data[i].details+'</td>'+
						'	<td>'+ data[i].stock+'</td>'+
						'	<td>'+ data[i].viewCount+'</td>'+
						'	<td>'+data[i].dateCreated +'</td>'+
							'<td>'+
								'<button class="btn btn-danger" data-toggle="modal" data-target="#myModal2" onclick="data('+data[i].id+')") >Edit</button>'+
								'<button class="btn btn-danger" data-toggle="modal" data-target="#myModal3" onclick="data('+data[i].id+')") >Add To Cart</button>'+
								'<button class="btn btn-danger" data-toggle="modal" data-target="#myModal4" onclick="data('+data[i].id+')")>Delete</button>'+
							'</td>'+
						'</tr>'
				
				)
					
				}
			}
			})
		})
		function data(idProduct){
			$("#id").val(idProduct);
		}
		$("#submit").click(function(){
		
			let formData1 = {
					name: $("[name=edit]").eq(0).val(),
					description: $("[name=edit]").eq(1).val(),
					price: parseFloat($("[name=edit]").eq(2).val()),
					originalPrice: parseFloat($("[name=edit]").eq(3).val()),
					details: $("[name=edit]").eq(4).val(),
					stock: parseInt($("[name=edit]").eq(5).val()),
					viewCount: parseInt($("[name=edit]").eq(6).val()),
					dateCreated: $("[name=edit]").eq(7).val()
		        }
		        $.ajax({
		            type: "PUT",
		            url: "http://localhost:8080/api/product/update/" + $("#id").val(),
		            dataType: "json",
		            async: false,
		            data: JSON.stringify(formData1),
		            contentType: 'application/json',
		            success: function (data) {
		                
		            }
		        });
		})
		
		$("#create").click(function(){
		
			let formData1 = {
					name: $("[name=add]").eq(0).val(),
					description: $("[name=add]").eq(1).val(),
					price: parseFloat($("[name=add]").eq(2).val()),
					originalPrice: parseFloat($("[name=add]").eq(3).val()),
					details: $("[name=add]").eq(4).val(),
					stock: parseInt($("[name=add]").eq(5).val()),
					viewCount: parseInt($("[name=add]").eq(6).val()),
					dateCreated: $("[name=add]").eq(7).val()
		        }
		        $.ajax({
		            type: "POST",
		            url: "http://localhost:8080/api/product/create",
		            dataType: "json",
		            async: false,
		            data: JSON.stringify(formData1),
		            contentType: 'application/json',
		            success: function (data) {
		                
		            }
		        });
		})
			function data(idProduct){
			$("#idDel").val(idProduct);
		}
		
		$("#idD").click(function(){
			$.ajax({
				type:"DELETE",
				url: "http://localhost:8080/api/product/delete/"+ $("#idDel").val(),
			      dataType: "json",
			      contentType: 'application/json',
		            success: function (data) {
		                
		            }
			})
			alert('delete product');
		})
		$("#addToCart").click(function(){
			alert('add to cart');
			let quantity=$("[name=Quantity]").eq(0).val();
			$.ajax({
				type:"POST",
				url:"http://localhost:8080/api/cart/add/"+ $("#idP").val()+"/"+quantity,
				dataType: "json",
			      contentType: 'application/json',
			      success: function (data) {
		                
		            }
			})
		})
		function data(idProduct){
			$("#idP").val(idProduct);
		}
	
	 </script>
</body>

</html>